body {
    background: #f6f6f6;
    font-size: 20px;
}

b {
    font-size: 30px;
}

.container div:first-child {
    text-align: cleft;
    color: black;
}

.container div:first-child h3 {
    color: blue;
    background: burlywood;
}

.container div:first-child span {
    color: white;
    background: black;
}

.container div:nth-child(2) {
    text-align: center;
    background: chocolate;
}

.container div:nth-child(2) p {
    color: black;
    background: lemonchiffon;
}

.container div:nth-child(2) h3 {
    color:blue;
}

.container div:nth-child(3){
    color: indigo;
}

.container div:nth-child(3) h3 {
    background: aqua;
}

.container div:nth-child(3) p {
    background: hotpink;
}

.container h1 {
    text-align: center;
    color: red;
    background: moccasin;
}



