* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  // background: #f8f3e3;
  background: #f8f8f8;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.btn {
  display: inline-block;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 10px 0px;
  color: #f4f4f4 !important;
  background: transparent;
}

.btn-primary {
  background: #180a2d;
  border: 1px #333 solid;
  font-size: 19px;
}

.btn-primary:hover {
  background: #f4f4f4;
  color: #333 !important;
}



body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

header {
  div {
    padding: 20px 50px 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 35px;
      cursor: pointer;
      &:hover {
        color: #725494;
      }
    }
  }
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  ul {
    display: flex;
    justify-content: center;
    background: #725494;
    li {
      padding: 15px 25px;
      cursor: pointer;
      position: relative;
      a {
        color: #f4f4f4;
      }

      ul {
        display: none;
      }

      &:hover {
        background: #492c6f;
        ul {
          position: absolute;
          display: block;
          top: 49px;
          left: 0;
          width: 100%;
          li {
            position: relative;
            ul {
              display: none;
            }
            &:hover {
              background: chocolate;

              ul {
                display: block;
                position: absolute;
                left: 130px;
                top: -1px;
                height: 200px;
                width: 200px;

                li:hover {
                  background: #492c6f;
                }
             
              }
            }
          }
        }
      }
    }
  }
}

.ladi-img {
  width: 100%;
  height: 89vh;
  color: #17092c;
  img {
    width: 55%;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  .content {
    position: relative;
    // line-height: 1.4;
    color: #492c6f;
    z-index: 1;
    h4 {
      font-size: 60px;
      font-weight: bold;
      margin: 10px 0;
    }

    img {
      position: absolute;
      top: -15rem;
      left: 50%;
      width: 50%;
      z-index: -1;
    }

    p {
      font-size: 20px;
      margin: 10px 0;
      line-height: 1.5;
      font-weight: 600;
    }
    a {
      color: burlywood;
    }
  }
}

section {
  margin-top: 20px;

  .content {
    color: #17092c;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      flex: 1;
      width: 50%;
    }
    position: relative;

    div {
      flex: 1;
      width: 100%;
      padding: 20px 30px;
    }

  }

  .content01 {
    span {
      position: absolute;
      top: 20px;
    }
  }

  .content02 {
    span {
      position: absolute;
      top: 5%;
      right: 0;
    }
  }
}

footer {
  margin-top: 80px;
  h4 {
    margin-top: 1px;
    color: #f4f4f4;
    text-align: center;
    padding: 30px 10px;
    font-size: 30px;
    background: #492c6f;
  }
}